/* Main Color */
body {
    background: pink;
}

button{
    display: flex;
    justify-content: center; /* Horizontal center */
    align-items: center;     /* Vertical center */
    height: 100vh; 
    width: 5cm;
    height: 2cm;
    background-color: tomato;
    border-radius: 10cm;
    color: white;
    font-size: larger;
    font-weight: bold;
    border-style: none;
}
button:hover{
    background-color: rgb(226, 117, 117);
}
